.grid-box{
    height: 600px;
    width: 500px;
    border: 3px solid black;
}
table{
    border-collapse: collapse;
}
td{
    border: 1px solid grey;
    width: 20px;
    height: 20px;
    padding: 0;
}